.contacts {
  padding-top: 45px;
}

.contacts__capture {
  margin-bottom: 38px;
}

.contacts__text {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 300;
}

.contacts__wrapper {
  padding-bottom: 30px;
  .center();
}

.contacts__item {
  position: relative;
  margin-bottom: 11px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  &--info {
    margin-bottom: 25px;

    font-size: 24px;
    font-weight: 300;
    color: #d22856;

    &:hover {
      color: #283645;
      text-decoration: underline;
    }

    &:active {
      color: fade(#283645, 30%);
      text-decoration: none;
    }
  }
}

.contacts__map {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
  }
}

.contacts__image {
  object-fit: cover;
  object-position: center;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    font-size: 40px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
  }

  .contacts__block {
    width: 40%;

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contacts__map {
    &::before {
      top: 0;
      left: 33%;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    font-size: 50px;
  }

  .contacts__block {
    width: 30%;

    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
