.contacts {
  padding-top: 45px;
  .mobile-padding();
}

.contacts__capture {
  margin-bottom: 38px;
}

.contacts__text {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 300;
}

.contacts__wrapper {
  .center();
}

.contacts__item {
  position: relative;
  margin-bottom: 11px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  &--info {
    margin-bottom: 25px;

    font-size: 24px;
    font-weight: 300;
    color: #d22856;

    &:hover {
      color: #283645;
      text-decoration: underline;
    }

    &:active {
      color: fade(#283645, 30%);
      text-decoration: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts__text {
    font-size: 40px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__block {
    width: 40%;

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    font-size: 50px;
  }

  .contacts__block {
    width: 30%;

    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
