.download-app {
  margin-top: 0;
  padding-top: 28px;
  padding-bottom: 35px;
  .mobile-padding();

  .center();

  background-color: #1d2631;
}

.download-app__wrapper {
  width: 280px;
  margin: auto;
}

.download-app__button-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.download-app__button {
  padding: 12px 25px;

  font-size: 21px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: fade(#d22856, 30%);
  }
}

.download-app__text {
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .download-app {
    width: 300px;
    margin-top: -420px;

    background-color: transparent;
  }

  .download-app__wrapper {
    width: 100%;
    margin: auto;
  }

  .download-app__text {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    margin-top: -420px;
    .desktop-padding();

    background-color: transparent;
  }
}
