.gallery {
  margin-bottom: 20px;
}

.gallery__content {
  padding-bottom: 20px;
}

.gallery__content {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  .center();
  background-color: #f2f2f2;
}

.gallery__image {
  margin-bottom: 23px;
}
