.main-nav {
  display: flex;
  flex-direction: column;

  background-color: fade(#000000, 30%);
}

.main-nav__wrapper {
  margin-bottom: 0;

  &--opened {
    background-color: #283645;
  }

  &--no-js {
    background-color: #283645;
  }
}

.main-nav__top-menu {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 18px;
}

.main-nav__button {
  margin-right: 0;
}

.main-nav__toggle {
  border: none;
  background-color: transparent;

  &--closed {
    width: 50px;
    height: 25px;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/icon-menu-burger-hover.png");
    }

    &:active {
      background-image: url("../img/icon-menu-burger-active.png");
    }
  }

  &--opened {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-menu-cross.png");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/icon-menu-cross-hover.png");
    }

    &:active {
      background-image: url("../img/icon-menu-cross-active.png");
    }
  }

  &--no-js {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-menu-cross.png");
  }
}

.main-nav__list {
  background-color: #283645;
  .list-reset();

  &--closed {
    display: none;
  }

  &--no-js {
    display: block;
  }
}

.main-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;

  .center();

  border-style: solid;
  border-width: 1px;
  border-top-color: #485461;
  border-bottom-color: #000000;
  border-left: none;
  border-right: none;

  &:first-child {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      border-style: solid;
      border-width: 1px;
      border-top-color: #000000;
    }
  }
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: fade(#d22856, 30%);
  }

  &--active {
    position: relative;

    &:hover {
      color: #ffffff;
    }

    &:active {
      text-decoration: underline;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__top-menu {
    width: 620px;
    padding-top: 44px;
    padding-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;

    &--opened {
      background-color: transparent;
    }

    &--no-js {
      background-color: transparent;
    }
  }

  .main-nav__top-menu {
    width: 160px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 620px;

    background-color: transparent;
  }

  .main-nav__item {
    padding-top: 45px;
    padding-bottom: 40px;
    border: none;

    &:first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }

  .main-nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;

    &:active {
      &--active {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}
