.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;

  .center();

  &--main {
    display: none;
  }
}

.page-footer__logo-image {
  margin-bottom: 40px;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: fade(#d22856, 30%);
  }
}

.page-footer_social {
  display: flex;
  justify-content: space-between;
}

.page-footer__creator {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
