.page-header {
  padding-top: 20px;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__caption {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  .center();
}

.page-header__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
}
