.photo__author {
  margin-bottom: 10px;

  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.photo__commentary {
  margin-bottom: 15px;
}

.photo__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
