.price__wrapper {
  margin-top: 90px;
}

.price__list {
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
}

.price__cell {
  min-width: 255px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 25px;

  border: 2px solid #e5e5e5;

  &--text {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    .center();

    background-color: #283645;
    border-top: none;
    border-bottom: none;
  }

  &--hit {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    .center();

    background-color: #283645;
    border-top: none;
    border-bottom: none;
  }

  &--heading {
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
  }
}

.price__toggles {
  .center();
}
