.price {
  min-height: 500px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.price__wrapper {
  padding-top: 121px;
  overflow: hidden;
}

.price__list {
  width: 840px;
  border: none;
  background-color: #ffffff;
  border-collapse: collapse;
  transform: translate(-33.5%);
}

.price__cell {
  position: relative;
  width: 275px;
  height: 57px;

  border: 2px solid #e5e5e5;

  &--text {
    height: 15px;
    padding-top: 15px;
    padding-left: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    .center();

    background-color: #283645;
    border-top: none;
    border-bottom: none;
  }

  &--value {
    z-index: -1;
    height: 15px;
    padding-bottom: 20px;
    padding-left: 0;

    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    .center();

    background-color: #283645;
    border-top: none;
    border-bottom: none;
  }

  &--hit {
    position: relative;
    height: 15px;
    padding-top: 15px;
    padding-left: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    .center();

    background-color: #283645;
    border-top: none;
    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 73px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "ХИТ";
      position: absolute;
      top: 5px;
      left: 4px;
      width: 73px;
      height: 73px;

      line-height: 30px;
      font-weight: 400;
      color: #ffffff;
      transform: rotate(-45deg);
    }
  }

  &--heading {
    position: absolute;
    left: 277px;
    padding-top: 15px;

    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    border: none;
  }

  &--yes {
    &::before {
      content: "";
      position: absolute;
      top: 41%;
      right: 5%;
      width: 31px;
      height: 22px;

      background-image: url("../img/icon-yes.svg");
      background-repeat: no-repeat;
    }
  }

  &--no {
    &::before {
      content: "";
      position: absolute;
      top: 25%;
      right: 6%;
      width: 27px;
      height: 27px;

      background-image: url("../img/icon-no.svg");
      background-repeat: no-repeat;
    }
  }
}

.price__cell-text {
  margin-left: 27px;
}

.price__toggles {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 40px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: @tablet-width) {
  .price {
    min-height: 390px;
    padding-bottom: 0;
  }

  .price__wrapper {
    padding-top: 100px;
  }

  .price__list {
    width: 620px;
    margin-left: auto;
    margin-right: auto;

    transform: translate(0);
  }

  .price__cell {
    width: 136px;
    height: 42px;

    &--text {
      height: 1px;
      padding-top: 13px;

      font-size: 16px;
    }

    &--value {
      height: 2px;
      padding-bottom: 5px;

      font-size: 18px;
    }

    &--hit {
      height: 1px;
      padding-top: 13px;

      font-size: 16px;

      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/bg-hit-tablet.svg");
      }

      &::after {
        top: 0;
        left: 0;
        width: 61px;
        height: 61px;
      }
    }

    &--heading {
      position: relative;
      left: 0;
      padding-top: 0;

      text-transform: none;
      border: 2px solid #e5e5e5;
    }

    &--yes {
      &::before {
        top: 35%;
        left: 44%;
      }
    }

    &--no {
      &::before {
        top: 19%;
        left: 43%;
      }
    }
  }

  .price__cell-text {
    margin-left: 12px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    margin-top: 50px;
  }

  .price__list {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .price__cell {
    width: 206px;
    height: 55px;
    padding-left: 25px;

    font-size: 18px;

    &--text {
      height: 20px;
      padding-top: 18px;

      font-size: 18px;
    }

    &--value {
      height: 20px;
      padding-bottom: 18px;

      font-size: 24px;
    }

    &--hit {
      height: 20px;
      padding-top: 18px;

      font-size: 18px;

      &::before {
        width: 73px;
        height: 73px;
        background-image: url("../img/bg-hit.svg");
      }

      &::after {
        top: 5px;
        left: 4px;
        width: 73px;
        height: 73px;
      }
    }

    &--yes {
      &::before {
        content: "";
        position: absolute;
        top: 53%;
        right: 45%;
        width: 20px;
        height: 3px;
        background-color: #3dc644;
        transform: rotate(-45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 60%;
        right: 51%;
        width: 10px;
        height: 3px;
        background-color: #3dc644;
        transform: rotate(45deg);
      }
    }
  }
}
