.promo__wrapper {
  width: 280px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.promo__button {
  display: block;
  width: 275px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: fade(#d22856, 30%);
  }
}

.promo__list {
  width: 206px;
  margin-top: 35px;
  padding-left: 37px;
  padding-right: 37px;
}

.promo__text {
  margin-top: 11px;

  font-weight: 300;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    width: 300px;
    margin-left: 0;
  }

  .promo__button {
    width: 295px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .promo__list {
    margin-top: 47px;
    padding-left: 45px;
  }

  .promo__text {
    margin-top: 28px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 380px;
    margin-left: -10px;
    padding-top: 22px;
    padding-left: 0;
  }

  .promo__button {
    width: 295px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 21px;
  }

  .promo__list {
    display: flex;
    justify-content: space-between;
    width: 204px;
    margin-top: 68px;
    padding-left: 44px;
    padding-right: 48px;
  }

  .promo__text {
    width: 298px;
    margin-top: 46px;
  }
}
