.reviews {
  position: relative;
  padding-top: 26px;
  padding-bottom: 0;
  margin-bottom: 0;

  .center();
}

.reviews__wrapper {
  margin-bottom: 0;
}

.reviews__item {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 35px;
}

.reviews__author {
  margin-bottom: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__bio {
  display: none;
}

.reviews__text {
  line-height: 30px;
}

.reviews__toggles {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.reviews__arrows {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding-top: 55px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 2;
    font-size: 20px;
  }

  .reviews__bio {
    display: block;
    order: 3;
    margin-top: 0;

    font-weight: 400;
    line-height: 30px;
  }

  .reviews__text {
    order: 1;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .desktop-padding();
  }

  .reviews__item {
    padding-top: 108px;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 5%;
  }

  .reviews__author {
    padding-top: 0;
    font-size: 24px;
  }

  .reviews__bio {
    font-size: 18px;
    margin-top: -25px;
  }

  .reviews__text {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 0;
  }

  .reviews__toggles {
    display: none;
  }
}
