.user-form {
  padding-top: 50px;
  background-color: #ffffff;
}

.user-form__text {
  margin-bottom: 50px;

  line-height: 30px;
  .center();
}

.user-form__form {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
}

.user-form__label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  &--pink {
    padding-left: 20px;

    font-size: 14px;
    line-height: 30px;
    color: #d22856;
    text-transform: uppercase;
  }
}

.user-form__note {
  margin-top: 40px;

  line-height: 30px;
  .center();

  &--color {
    color: #d22856;
  }
}

.user-form__button {
  .center();
}

@media (min-width: @tablet-width) {
  .user-form {
    padding-top: 90px;
  }

  .user-form__fieldset {
    &--bio {
      order: 1;
    }

    &--os {
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--achievements {
      order: 4;
    }

    &--reviews {
      order: 5;
    }
  }

  .user-form__send {
    display: flex;
    justify-content: space-between;
    order: 7;
  }
}

@media (min-width: @desktop-width) {
  .user-form__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-form__fieldset {
    width: 100%;

    &--bio {
      width: 45%;
    }

    &--os {
      width: 45%;
    }
  }

  .user-form__contacts {
    display: flex;
    justify-content: space-between;
  }

  .user-form__send {
    width: 100%;
  }
}
