.user-form {
  margin-top: 105px;
}

.user-form__text {
  margin-bottom: 50px;

  line-height: 30px;
  .center();
}

.user-form__form {
  padding-left: 20px;
  padding-right: 20px;
}

.user-form__label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.user-form__label--pink {
  padding-left: 20px;

  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
}

.user-form__note {
  margin-top: 40px;

  .center();
}

.user-form__note--color {
  color: #d22856;
}

.user-form__send {
  .center();
}
